body.pge-ranking{
     background: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

body.page-login{
     background: linear-gradient(135deg, #3b82f6, #2563eb);
}

body.page-cadastro{
      background: radial-gradient(circle at center, #1e2a4a, #0f1523);
}